/**
* reset default style
* Unified elements bring the style, so that the browser to see the same.
*/
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
em,
button {
	margin: 0;
	padding: 0;
}

body {
	background-color: #fff;
	font-size: 12px;
	line-height: 1.5;
	font-family: microsoft yahei, tahoma, simsun, sans-serif;
	color: #333;
	-webkit-font-smoothing:antialiased;
}

img,
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

input,
textarea {
	font-size: 12px;
}

table {
	border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
}

ul,
li {
	list-style: none;
}

dfn {
	font-style: normal;
	font-family: Arial;
}

em {
	font-style: normal;
}

a {
	color: #06c;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.layoutfix {
	display: block;
	overflow: hidden;
}


/**
 * common style
 */
.clearfix:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
    line-height: 0
}
.clearfix {*zoom:1}
.pull-left { float: left;}
.pull-right { float: right;}
.ta-l { text-align: left;}
.ta-c { text-align: center;}
.ta-r { text-align: right;}

/**
 * button
 */


/**
 * form
 */
.input-sm {
	width: 22px;
	height: 14px;
	padding: 5px;
	line-height: 14px;
	background-color: #fff;
	border: 1px solid #c0c6c9;
	border-radius: 3px;
}

/**
 * icon
 * All the icons on the page are concentrated here, easy to check.
 * All the icons begin with icon, and add to the icon.
 */
.icon-clock,
.icon-person,
.icon-ok,
.icon-error,
.icon-dispatcher-online,
.icon-dispatcher-offline,
.icon-team,
.icon-group,
.icon-user_menu-online,
.icon-user_menu-offline,
.icon-car_menu-online,
.icon-car_menu-offline,
.icon-moto_menu-online,
.icon-moto_menu-offline,
.icon-camera_menu-online,
.icon-camera_menu-offline,
.icon-camera2_menu-online,
.icon-camera2_menu-offline,
.icon-district,
.icon-search,
.icon-filter,
.icon-refresh,
.icon-down,
.icon-update,
.icon-locate_menu-online,
.icon-locate_menu-offline,
.icon-dropdown,
.icon-system-online,
.icon-system-offline,
.line-divide,
.icon-selected,
.orientation,
.icon-lte,
.icon-signal,
.icon-2g,
.icon-3g,
.icon-older,
.icon-previous,
.icon-next,
.icon-newer,
.icon-play,
.icon-pause,
.icon-return {
	display: inline-block;
	background-image: url(../images/sprite-icon.png);
	background-repeat: no-repeat;
	vertical-align: middle;
}
.icon-user-online,
.icon-user-pull,
.icon-user-offline,
.icon-user-warn,
.icon-car-online,
.icon-car-pull,
.icon-car-warn,
.icon-car-offline,
.icon-moto-online,
.icon-moto-pull,
.icon-moto-warn,
.icon-moto-offline,
.icon-camera-online,
.icon-camera-pull,
.icon-camera-offline,
.icon-camera2-online,
.icon-camera2-pull,
.icon-camera2-offline {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-image: url(../images/map-icon.png);
	background-repeat: no-repeat;
	vertical-align: middle;
}
.icon-menu-call,
.icon-menu-call-ing,
.icon-menu-call-end,
.icon-menu-mesg,
.icon-menu-pull,
.icon-menu-trace,
.icon-menu-detail,
.icon-menu-del,
.icon-close {
	display: inline-block;
	width: 26px;
	height: 26px;
	background-image: url(../images/map-menu-icon.png);
	background-repeat: no-repeat;
	vertical-align: middle;
}
.icon-mute,
.icon-mute-disable,
.icon-sound-record,
.icon-sound-record-disable,
.icon-screen-record,
.icon-screen-record-disable,
.icon-screenshot,
.icon-screen-remove,
.icon-distribution,
.icon-pull-cancel{
	display: inline-block;
	width: 26px;
	height: 26px;
	background-image: url(../images/btn-video.png);
	background-repeat: no-repeat;
	vertical-align: middle;
}
.avatar-big,
.avatar-q,
.avatar-a {
	display: inline-block;
	background-image: url(../images/profile.png);
	background-repeat: no-repeat;
	vertical-align: middle;
}
.icon-loading {
	display: inline-block;
	width: 53px;
	height: 53px;
	background: url(../images/video-loading.png) 0 0 no-repeat;
	-webkit-animation: loading  1s infinite;
	-o-animation: loading  1s infinite;
	animation: loading  1s infinite;
}

@-webkit-keyframes loading {
	0% { 
		-webkit-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		transform:rotate(0deg); 
	}
	100% { 
		-webkit-transform:rotate(360deg);
		-ms-transform:rotate(360deg);
		-o-transform:rotate(360deg);
		transform:rotate(360deg); 
	}
}
@-o-keyframes loading {
	0% { 
		-webkit-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		transform:rotate(0deg); 
	}
	100% { 
		-webkit-transform:rotate(360deg);
		-ms-transform:rotate(360deg);
		-o-transform:rotate(360deg);
		transform:rotate(360deg); 
	}
}
@-moz-keyframes loading {
	0% { 
		-webkit-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		transform:rotate(0deg); 
	}
	100% { 
		-webkit-transform:rotate(360deg);
		-ms-transform:rotate(360deg);
		-o-transform:rotate(360deg);
		transform:rotate(360deg); 
	}
}
@keyframes loading {
	0% { 
		-webkit-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		transform:rotate(0deg); 
	}
	100% { 
		-webkit-transform:rotate(360deg);
		-ms-transform:rotate(360deg);
		-o-transform:rotate(360deg);
		transform:rotate(360deg); 
	}
}
.icon-system-online { 
	width: 14px;
	height: 15px;
	background-position: 0 -372px;
}
.icon-system-offline { 
	width: 14px;
	height: 15px;
	background-position: -14px -372px;
}
.icon-clock { 
	width: 18px;
	height: 18px;
	background-position: -1px -1px;
}
.icon-person{
	width: 14px;
	height: 17px;
	background-position: -23px -1px;
}
.icon-ok {
	width: 20px;
	height: 14px;
	background-position: -40px -3px;
}
.icon-error {
	width: 14px;
	height: 14px;
	background-position: -63px -3px;
}
.icon-dispatcher-online {
	width: 18px;
	height: 18px;
	background-position: -21px -21px;
}
.icon-dispatcher-offline {
	width: 18px;
	height: 18px;
	background-position: -21px -40px;
}
.icon-team {
	width: 18px;
	height: 18px;
	background-position: -1px -21px;
}
.icon-group {
	width: 20px;
	height: 20px;
	background-position: 0 -61px;
}
.icon-user_menu-online {
	width: 18px;
	height: 18px;
	background-position: -41px -21px;
}
.icon-user_menu-offline {
	width: 18px;
	height: 18px;
	background-position: -41px -41px;
}
.icon-car_menu-online {
	width: 18px;
	height: 17px;
	background-position: -61px -22px;
}
.icon-car_menu-offline {
	width: 18px;
	height: 17px;
	background-position: -61px -42px;
}
.icon-moto_menu-online {
	width: 16px;
	height: 19px;
	background-position: -82px -21px;
}
.icon-moto_menu-offline {
	width: 16px;
	height: 19px;
	background-position: -82px -41px;
}
.icon-camera_menu-online {
	width: 20px;
	height: 18px;
	background-position: -100px -21px;
}
.icon-camera_menu-offline {
	width: 20px;
	height: 18px;
	background-position: -100px -41px;
}
.icon-camera2_menu-online {
	width: 20px;
	height: 18px;
	background-position: -120px -21px;
}
.icon-camera2_menu-offline {
	width: 20px;
	height: 18px;
	background-position: -120px -41px;
}
.icon-district {
	width: 18px;
	height: 18px;
	background-position: -1px -41px;
}
.icon-search {
	width: 26px;
	height: 26px;
	background-position: 0 -80px;
}
.icon-search:hover {
	width: 26px;
	height: 26px;
	background-position: 0 -106px;
}
.icon-filter {
	width: 26px;
	height: 26px;
	background-position: -26px -80px;
}
.icon-filter:hover {
	width: 26px;
	height: 26px;
	background-position: -26px -106px;
}
.icon-refresh {
	width: 26px;
	height: 26px;
	background-position: -52px -80px;
}
.icon-refresh:hover {
	width: 26px;
	height: 26px;
	background-position: -52px -106px;
}
.icon-down {
	width: 20px;
	height: 20px;
	background-position: -20px -60px;
}
.icon-update {
	width: 20px;
	height: 20px;
	background-position: -40px -60px;
}
.icon-locate_menu-online {
	width: 16px;
	height: 20px;
	background-position: -62px -60px;
}
.icon-locate_menu-offline {
	width: 16px;
	height: 20px;
	background-position: -82px -60px;
}
.icon-dropdown{
	width: 20px;
	height: 20px;
	background-position: -120px -60px;
}
.icon-dropdown:hover{ background-position: -100px -60px;}
.line-divide {
	width: 1px;
	height: 26px;
	background-position: -139px -143px;
}
.icon-selected {
	width: 16px;
	height: 16px;
	background-position: -124px -217px;
}
.icon-lte {
	width: 15px;
	height: 8px;
	background-position: -32px -387px;
}
.icon-signal{
	width: 12px;
	height: 9px;
	background-position: -46px -387px;
}
.icon-2g{
	width: 13px;
	height: 8px;
	background-position: -32px -373px;
}
.icon-3g{
	width: 13px;
	height: 8px;
	background-position: -46px -373px;
}
.icon-older,
.icon-previous,
.icon-next,
.icon-newer{
	width: 26px;
	height: 27px;
}
.icon-older { background-position: 0 -260px}
.icon-older:hover { background-position: -28px -260px}
.icon-older.disable,
.icon-older.disable:hover { background-position: -56px -260px}
.icon-previous { background-position: 0 -288px;}
.icon-previous:hover { background-position: -28px -288px}
.icon-previous.disable,
.icon-previous.disable:hover { background-position: -56px -288px}
.icon-next { background-position: 0 -316px;}
.icon-next:hover { background-position: -28px -316px}
.icon-next.disable,
.icon-next.disable:hover { background-position: -56px -316px}
.icon-newer { background-position: 0 -344px;}
.icon-newer:hover { background-position: -28px -344px}
.icon-newer.disable,
.icon-newer.disable:hover { background-position: -56px -344px}
.icon-play,
.icon-pause,
.icon-return{
	width: 20px;
	height: 20px;
}
.icon-play { background-position: -120px -260px;}
.icon-play:hover { background-position: -100px -260px;}
.icon-pause { background-position: -120px -280px;}
.icon-pause:hover { background-position: -100px -280px;}
.icon-return { background-position: -120px -300px;}
.icon-return:hover { background-position: -100px -300px;}
.icon-user-online { background-position: 0 0;}
.icon-user-pull { background-position: 0 -32px;}
.icon-user-warn { background-position: 0 -64px;}
.icon-user-offline { background-position: 0 -96px;}
.icon-car-online { background-position: -32px 0;}
.icon-car-pull { background-position: -32px -32px;}
.icon-car-warn { background-position: -32px -64px;}
.icon-car-offline { background-position: -32px -96px;}
.icon-moto-online { background-position: -64px 0;}
.icon-moto-pull { background-position: -64px -32px;}
.icon-moto-warn { background-position: -64px -64px;}
.icon-moto-offline { background-position:-64px -96px;}
.icon-camera-online { background-position: -96px 0;}
.icon-camera-pull { background-position: -96px -32px;}
.icon-camera-offline { background-position: -96px -64px;}
.icon-camera2-online { background-position: -128px 0;}
.icon-camera2-pull { background-position: -128px -32px;}
.icon-camera2-offline { background-position: -128px -64px;}

.orientation {
	width: 12px;
	height: 9px;
}
.online .orientation { background-position: -84px -217px;}
.warn .orientation { background-position: -96px -217px;}
.pull .orientation { background-position: -108px -217px;}

.icon-menu-call { 
	width: 30px;
	background-position: -130px 0;}
.icon-menu-call:hover { background-position: -130px -26px;}
.icon-menu-call-ing {
	width: 40px;
	height: 22px;
	background-position: -40px -78px;
}
.icon-menu-call-end {
	width: 40px;
	height: 22px;
	background-position: -40px -100px;
}
.icon-menu-mesg { background-position: 0 0;}
.icon-menu-mesg:hover { background-position: 0 -26px;}
.icon-menu-pull { background-position: -26px 0;}
.icon-menu-pull:hover { background-position: -26px -26px;}
.icon-menu-trace { background-position: -78px 0;}
.icon-menu-trace:hover { background-position: -78px -26px;}
.icon-menu-detail { background-position: -52px 0;}
.icon-menu-detail:hover { background-position: -52px -26px;}
.icon-menu-del { background-position: -104px 0;}
.icon-menu-del:hover { background-position: -104px -26px;}
.icon-close {
	width: 20px;
	height: 20px;
	background-position: -120px -58px;
}
.icon-close:hover { background-position: -140px -58px;}

.icon-mute { background-position: 0 0;}
.icon-mute:hover { background-position: 0 -26px;}
.icon-mute-disable { background-position: -26px 0;}
.icon-mute-disable:hover { background-position: -26px -26px;}
.icon-sound-record { background-position: -52px 0; }
.icon-sound-record:hover { background-position: -52px -26px; }
.icon-sound-record-disable { background-position: -78px 0; }
.icon-sound-record-disable:hover { background-position: -78px -26px; }
.icon-screen-record { background-position: -104px 0;}
.icon-screen-record:hover { background-position: -104px -26px;}
.icon-screen-record-disable { background-position: -130px 0;}
.icon-screen-record-disable:hover { background-position: -130px -26px;}
.icon-screenshot { background-position: -156px 0;}
.icon-screenshot:hover { background-position: -156px -26px;}
.icon-screen-remove { background-position: -182px 0;}
.icon-screen-remove:hover { background-position: -182px -26px;}
.icon-distribution { background-position: -208px 0;}
.icon-distribution:hover { background-position: -208px -26px;}
.icon-pull-cancel { background-position: -234px 0; }
.icon-pull-cancel:hover { background-position: -234px -26px; }

.avatar-big {
	width: 90px;
	height: 90px;
	background-position: 0 -28px;
}
.avatar-q {
	width: 28px;
	height: 28px;
	background-position: 0 0;
}
.avatar-a {
	width: 28px;
	height: 28px;
	background-position: -28px 0;	
}


/**
 * layout
 * The overall layout of the page, you can change here, including the loading page, login page and scheduling system page.
 */
.container {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: #001c2f;
	overflow: hidden;
	font: normal 14px/1.5 "microsoft yahei";
}
.header {
	position: absolute;
	z-index: 99999;
	height: 48px;
	left: 72px;
	top: 0;
	right: 0;
	padding-left:12px;
	padding-right:15px;
	background: -moz-linear-gradient(0deg, #00243d, #005591);
  background: -webkit-gradient(linear,0 50%,100% 50%,from(#00243d),to(#005591));
  background: -webkit-linear-gradient(0deg, #00243d, #005591);
  background: -o-linear-gradient(0deg, #00243d, #005591);
  line-height: 48px;
  color: #fff;
}
.menu-wrap {
	position: absolute;
	z-index: 99999;
	left: 0;
	top: 0;
	bottom: 0;
	width: 60px;
	background-color: #005591;
}
.map-area,
.history-box {
	position: absolute;
	z-index: 99;
	left: 72px;
	right: 0;
	top: 48px;
	bottom: 0;
}

/* header */
.title {
	font-size: 16px;
	font-family: "microsoft yahei";
	font-weight: 600;
}
.user-info {
	position: absolute;
	top: 0;
	right: 15px;
}
.user-info .icon { margin-right: 5px;}
.login-time,
.login-user {
	display: inline-block;
	padding: 0 5px;
}
.login-out { 
	color:#fff;
	text-decoration: underline;
}
.login-out:hover { color: #ffaa1d;}

/* left menu */
.logo {
	display: inline-block;
	width: 70px;
	height: 0px;
	margin-bottom:2px;
	background: #00243d url(../images/logo.png) no-repeat 0 0;
	padding-top: 60px;
	overflow: hidden;
}
.menu-tab {margin-top: 14px;}
.menu-tab li {height: 60px;}
.menu-tab a {
	display: inline-block;
	width: 60px;
	height: 0px;
	padding-top: 60px;
	overflow: hidden;
	background-image: url(../images/menu-tab.png);
	background-repeat: no-repeat;
}
.menu-tab a.menu-map { background-position: 0 0;}
.menu-tab a.menu-monitor { background-position: 0 -60px;}
.menu-tab a.menu-history { background-position: 0 -120px;}
.menu-tab a.menu-setting { background-position: 0 -180px;}
.menu-tab a:hover.menu-map,
.menu-tab li.selected a.menu-map { background-position: -60px 0;}
.menu-tab a:hover.menu-monitor { background-position: -60px -60px;}
.menu-tab a:hover.menu-history { background-position: -60px -120px;}
.menu-tab a:hover.menu-setting { background-position: -60px -180px;}

/* stystems status */
.stystems-status {
	position: absolute;
	bottom: 20px;
	font-size: 12px;
}
.stystems-status li {
	display: block;
	margin-bottom: 3px;
	padding-left: 23px;
	color: #fff;
}
.stystems-status li .icon {
 margin-left:-18px;
 margin-right:2px;
}

/* menu panel */
.menu-panel {
	position: absolute;
	z-index: 99999;
	left: 72px;
	top: 48px;
	bottom: 0;
	width: 300px;
	background-color: #e7eaec;
	border-right: 1px solid #95a0a7;
	-webkit-box-shadow:1px 0 2px #95a0a7;
	box-shadow:1px 0 2px #95a0a7;
	overflow-y: scroll;
	overflow-x: hidden;
}
.panel-header {
	padding-left: 10px;
	color: #005591;
	font: normal 16px/45px "microsoft yahei";
}
.tools-entry {
	float: right;
}
.tools-entry a {
	float: left;
	display: inline-block;
	width: 26px;
	height: 0;
	padding-top: 45px;
	margin-right: 4px;
	overflow: hidden;
}
.tools-entry .icon { margin-top: -90px;}

.tab-header { 
	width: 300px;
	margin-bottom: 15px;
}
.tab-header li {
	float: left;
	display: inline-block;
	width: 100px;
	height: 44px;
}
.tab-header li a{
	display: block;
	height: 0;
	padding-top: 44px;
	overflow: hidden;
	background-image: url(../images/tree-tab.png);
	background-repeat: no-repeat;
}
.tab-header li a.tree{ background-position: 0 0;}
.tab-header li.active a.tree,
.tab-header li a:hover.tree{ background-position: 0 -44px;}
.tab-header li a.task{ background-position: -100px 0;}
.tab-header li a.task:hover{ background-position: -100px -44px;}
.tab-header li a.message{ background-position: -200px 0;}
.tab-header li a.message:hover{ background-position: -200px -44px;}

.tab-panel { padding-left: 0;}
.tab-panel .icon {
	margin-right: 5px;
}
.tab-panel a { color: #4b4c4d;}
.tab-panel a:hover { text-decoration: none;}
.team li { 
	padding-left: 15px;
	height: 32px;
	line-height: 32px;
}
.district {margin-left: -15px;}
.district li { padding-left: 25px;}
.group { margin-left: -25px;}
.group li {
	position: relative;
	padding-left: 40px;
	height: 32px;
}
.group li .icon-dropdown{ display: none;}
.group li:hover { background-color: #6cf;}
.group li:hover .icon-dropdown{
	display: inline-block;
}

/* pop dropdown */
.dropdown-pop {
	/*position: absolute;
	z-index: 99999;*/
	width: 112px;
	height: auto;
	padding: 3px;
	background-color: #fff;
	border: 1px solid #008fd5;
	-webkit-box-shadow: 1px 1px 1px #ccc;
	        box-shadow: 1px 1px 1px #ccc;
}
.dropdown-list li {
	padding-left: 10px;
	font-size: 14px;
	line-height: 32px;
	cursor: pointer;
}
.dropdown-list li a { color: #4b4c4d;}
.dropdown-list li.line-divide {
	width: 114px;
	height: 0;
	margin-left: 2px;
	padding-left: 0;
	line-height: 0;
	border-bottom: 1px solid #a1a5aa;
}

.refresh-list li .icon { 
	margin-right: 5px;
	margin-left: -3px;
}

/**
 * map info  status
 * The various operations on the map and the state
 */
.online,
.pull,
.warn,
.offline { 
	position: relative;
	text-align: center;
	color: #44baf5;
	text-shadow: 1px 1px 1px #fff;
}
.online .icon,
.pull .icon,
.warn .icon,
.offline .icon { 
	position: absolute;
	z-index: 999;
	top: 8px;
	left: 50%;
	margin-left: -16px;
}
.pull { color: #56c27a;}
.warn { color: #ff5252;}
.offline { color: #95a0a7;}

.status {
	display: inline-block;
	width: 48px;
	height: 48px;
	border: 1px solid #fff;
	background-color: rgba(4,184,245,.7);
	border-radius: 50%;
	-webkit-animation: status 2s infinite;
	-o-animation: status 2s infinite;
	animation: status 2s infinite;
}
.online:hover .status { background-color: rgba(244,179,72,.7);}
.warn .status { background-color: rgba(255,82,82,.7);}
.pull .status { background-color: rgba(86,194,122,.7);}
.offline .status { 
	background-color: rgba(0,0,0,0);
	border: none;
}

@-webkit-keyframes status {
	0% { opacity: .1;}
	50% {opacity: 1}
	100% { opacity: .1;}
}
@-o-keyframes status {
	0% { opacity: .1;}
	50% {opacity: 1}
	100% { opacity: .1;}
}
@-moz-keyframes status {
	0% { opacity: .1;}
	50% {opacity: 1}
	100% { opacity: .1;}
}
@keyframes status {
	0% { opacity: .1;}
	50% {opacity: 1}
	100% { opacity: .1;}
}

/* first locate */
.first-locate,
.first-locate .status {
	position: relative;
	width: 64px;
	height: 64px;
}
.first-locate .icon { top: 16px;}

/**
 * orientation
 * 
 */
.orientation {
	position: absolute;
	z-index: 99;
	top: 0;
}
.deg0 .orientation { 
	left: 50%;
	margin-left: -6px;
}
.deg45 .orientation { 
	left: 32px;
	top: 5px;
	-webkit-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
}
.deg90 .orientation { 
	left: 39px;
	top: 20px;
	-webkit-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	transform:rotate(90deg);
}
.deg135 .orientation { 
	left: 33px;
	top: 34px;
	-webkit-transform:rotate(135deg);
	-ms-transform:rotate(135deg);
	-o-transform:rotate(135deg);
	transform:rotate(135deg);
}
.deg180 .orientation { 
	left: 20px;
	top: 39px;
	-webkit-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
}
.deg225 .orientation { 
	left: 5px;
	top: 32px;
	-webkit-transform:rotate(225deg);
	-ms-transform:rotate(225deg);
	-o-transform:rotate(225deg);
	transform:rotate(225deg);
}
.deg270 .orientation { 
	left: 0px;
	top: 20px;
	-webkit-transform:rotate(270deg);
	-ms-transform:rotate(270deg);
	-o-transform:rotate(270deg);
	transform:rotate(270deg);
}
.deg315 .orientation { 
	left: 6px;
	top: 5px;
	-webkit-transform:rotate(315deg);
	-ms-transform:rotate(315deg);
	-o-transform:rotate(315deg);
	transform:rotate(315deg);
}

.first-locate.deg0 .orientation { top:8px;}
.first-locate.deg45 .orientation { top:13px;left:40px; }
.first-locate.deg90 .orientation { top:28px;left:47px; }
.first-locate.deg135 .orientation { top:42px;left:41px; }
.first-locate.deg180 .orientation { top:47px;left:28px; }
.first-locate.deg225 .orientation { top:41px;left:12px; }
.first-locate.deg270 .orientation { top:28px;left:6px; }
.first-locate.deg315 .orientation { top:11px;left:14px; }


/**
 * map tips
 */
.map-tips {
	width: 155px;
	padding: 5px 10px;
	border-top: 6px solid #008fd5;
	border-radius: 2px;
	background: #fff;
	box-shadow: 1px 2px 2px #ccc;
}
.user-info-list li {
	position: relative;
	padding-right: 20px;
	margin: 2px 0;
	line-height: 18px;
	text-align: right;
	font-size: 13px;
	color: #4b4c4d;
}
.user-info-list .name {
	float: left;
	text-align: left;
}
.user-info-list .icon {
	position: absolute;
	right: 0;
	top: 5px;
}

.map-menu-shortcut {
	display: inline-block;
	height: 40px;
	padding: 0 8px;
	border-radius: 20px;
	line-height: 40px;
	background-color: rgba(0,0,0,.5);
}
.map-menu-shortcut li {
	float: right;
	margin-right: 8px;
}
.map-menu-panel {
	width: 280px;
	height: 220px;
	background-color: #fff;
	border: 1px solid #008fd5;
	box-shadow: 1px 2px 2px #ccc;
	font-size: 14px;
	line-height: 24px;
}
.map-panel-tab-header {
	height: 40px;
	background-color: #008fd5;
}
.map-panel-tab-content{ height: 180px;}
.map-panel-tab-header .close {
	float: right;
	margin-right: 6px;
	line-height: 40px;
}
.tab-title li {
	float: left;
	margin-left: 10px;
	line-height: 40px;
}
.tab-title li:last-of-type {
	float: right;
	margin-right: 10px;
}

.tab-title .icon-menu-call {
	width: 40px;
	height: 22px;
	background-position: 0 -78px;
}
.tab-title .icon-menu-call:hover { background-position: 0 -100px;}
.tab-title .icon-menu-mesg:hover { background-position: 0 0;}
.tab-title .icon-menu-pull:hover { background-position: -26px 0;}
.tab-title .icon-menu-detail:hover { background-position: -52px 0;}

.tab-title .icon-menu-mesg:hover,
.tab-title .icon-menu-pull:hover,
.tab-title .icon-menu-detail:hover { 
	background-color: #005591;
	border-radius: 2px;
}

.tab-title .current .icon-menu-call { background-position: 0 0;}
.tab-title .current .icon-menu-mesg { background-position: -52px -52px;}
.tab-title .current .icon-menu-pull { background-position: -26px -52px;}
.tab-title .current .icon-menu-detail { background-position: 0 -52px;}
.tab-title .current .icon-menu-call:hover, 
.tab-title .current .icon-menu-mesg:hover, 
.tab-title .current .icon-menu-pull:hover, 
.tab-title .current .icon-menu-detail:hover { background-color: #008fd5;}

.user-detail {
	padding: 10px;
	overflow: hidden;
}
.user-detail .avatar-big {
	float: left;
	margin-right: 10px;
}
.video-pull-loading {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #000;
}
.video-pull-loading .icon {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -26px;
	margin-top: -26px;
}
.video-pull-success {
	position: relative;
	width: 100%;
	height: 100%;
}
.video-info {
	padding-right: 10px;
	font-size: 12px;
	font-family: simsun;
	color: #fff;
	text-align: right;
	-webkit-text-shadow:#000 1px 0 0,#000 0 1px 0,#000 -1px 0 0,#000 0 -1px 0;  
	-moz-text-shadow:#000 1px 0 0,#000 0 1px 0,#000 -1px 0 0,#000 0 -1px 0; 
	text-shadow:#000 1px 0 0,#000 0 1px 0,#000 -1px 0 0,#000 0 -1px 0;
}
.video-tools {
	position: absolute;
	width: 100%;
	height: 32px;
	bottom:0;
	background-color: rgba(0,0,0,.5);
}
.video-tools li {
	display: inline-block;
	float: left;
	margin-left: 6px;
	vertical-align: middle;
	line-height: 32px;
}
.video-tools li:nth-of-type(6),
.video-tools li:nth-of-type(7) { 
	float: right;
	margin-right: 6px;
}

.dialogue-box {
	width: 100%;
	height: 100%;
}
.dialogue-list { margin-top: 10px;}
.dialogue-list li {
	position: relative;
	margin-bottom: 8px;
	font-size: 14px;
	color: #000;
	line-height: 24px;
}
.dialogue-list .dialogue-q {
	padding-left: 38px;
}
.dialogue-list .dialogue-q .avatar-q {
	position: absolute;
	left:6px;
}
.dialogue-list .dialogue-text {
	display: inline-block;
	padding:2px 8px;
	height: 28px;
	border-bottom: 1px solid #9f9f9f;
	box-shadow: 1px 1px 2px #ccc;
	border-radius: 3px;
}
.dialogue-list .dialogue-q .dialogue-text {
	height: 28px;
	background-color: #e7eaec;
}
.dialogue-list .dialogue-a {
	padding-right: 38px;
	text-align: right;
}
.dialogue-list .dialogue-a .avatar-a {
	position: absolute;
	right:6px;
}
.dialogue-list .dialogue-a .dialogue-text {
	background-color: #a4e1ff;
}


/**
 * history-box 
 */
.history-box { 
	background-color: #e7eaec;
	box-sizing:border-box;
}
.history-header {
	padding-right: 20px;
	height: 44px;
	line-height: 44px;
	text-align: right;
}
.history-list { 
	position: absolute;
	bottom:52px;
	top: 44px;
	left:20px;
	right:20px;
	border-top:2px solid #c0c6c9;
	border-bottom:2px solid #c0c6c9;
	background-color: #fff;
	overflow-y: scroll;
}
.history-table thead th,
.history-table tbody td {
	height: 40px;
	line-height: 40px;
	text-align: left;
	padding-left: 10px;
}
.history-table thead th{ 
	border-bottom: 1px solid #ccc;
	color: #666;
}
.history-table tbody td {
	border-bottom: 1px solid #eee;
}
.history-table thead th:nth-child(1),
.history-table tbody td:nth-child(1){
	border-right: 1px solid #eee;
}
.history-table tbody tr:hover {
	background-color: #a4e1ff;
}
.history-footer {
	position: absolute;
	bottom: 0;
	left: 20px;
	right: 20px;
	height: 52px;
	text-align: center;
	line-height: 52px;
	color: #c0c6c9;
}
.pagination {
	position: absolute;
	left: 0;
}
.pagination li {
	float: left;
	margin-right: 4px;
}
.pagination li.previous { margin-right: 10px;}
.pagination li.next { margin-left: 20px;}


/**
 * login pageStyle
 */
.login-wrapper {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	margin-top: -175px;
	margin-left: -112px;
	width: 225px;
	min-height: 350px;
}
.login-form {margin-top: 195px;}
.form-line {margin-bottom: 18px;}
.form-text {
	width: 100%;
	height:  27px;
	line-height: 27px;
	padding: 0 12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing   : border-box;
	box-sizing        : border-box;
}


