/**
* reset default style
* Unified elements bring the style, so that the browser to see the same.
*/
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
em,
button {
	margin: 0;
	padding: 0;
}

body {
	background-color: #fff;
	font-size: 12px;
	line-height: 1.5;
	font-family: microsoft yahei, tahoma, simsun, sans-serif;
	color: #333;
}

img,
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

input,
textarea {
	font-size: 12px;
}

table {
	border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
}

ul,
li {
	list-style: none;
}

dfn {
	font-style: normal;
	font-family: Arial;
}

em {
	font-style: normal;
}

a {
	color: #06c;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.layoutfix {
	display: block;
	overflow: hidden;
}


/**
 * clearfix
 * Clearing the layout of the floating
 */
.clearfix:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
    line-height: 0
}
.clearfix {*zoom:1}


/**
 * button
 */


/**
 * form
 */


/**
 * icon
 * All the icons on the page are concentrated here, easy to check.
 * All the icons begin with icon, and add to the icon.
 */
.icon-clock,
.icon-person,
.icon-ok,
.icon-error,
.icon-team,
.icon-group,
.icon-person-normal,
.icon-person-gray,
.icon-car-normal,
.icon-car-gray,
.icon-moto-normal,
.icon-moto-gray,
.icon-camera-normal,
.icon-camera-gray,
.icon-district,
.icon-search,
.icon-filter,
.icon-refresh,
.icon-down,
.icon-update,
.icon-locate-normal,
.icon-locate-gray,
.icon-system-green,
.icon-system-red {
	display: inline-block;
	background-image: url(../images/sprite-icon.png);
	background-repeat: no-repeat;
	vertical-align: middle;
}
.icon-system-green,
.icon-system-red {
	width: 14px;
	height: 15px;
	background-image: url(../images/system-status.png);
}
.icon-system-green { background-position: 0 0;}
.icon-system-red { background-position: -14px 0;}
.icon-clock { 
	width: 18px;
	height: 18px;
	background-position: -1px -1px;
}
.icon-person{
	width: 14px;
	height: 17px;
	background-position: -23px -1px;
}
.icon-ok {
	width: 20px;
	height: 14px;
	background-position: -40px -3px;
}
.icon-error {
	width: 14px;
	height: 14px;
	background-position: -63px -3px;
}
.icon-team {
	width: 18px;
	height: 18px;
	background-position: -1px -21px;
}
.icon-group {
	width: 20px;
	height: 20px;
	background-position: 0 -61px;
}
.icon-person-normal {
	width: 18px;
	height: 18px;
	background-position: -41px -21px;
}
.icon-person-gray {
	width: 18px;
	height: 18px;
	background-position: -41px -41px;
}
.icon-car-normal {
	width: 18px;
	height: 17px;
	background-position: -61px -22px;
}
.icon-car-gray {
	width: 18px;
	height: 17px;
	background-position: -61px -42px;
}
.icon-moto-normal {
	width: 16px;
	height: 19px;
	background-position: -82px -21px;
}
.icon-moto-gray {
	width: 16px;
	height: 19px;
	background-position: -82px -41px;
}
.icon-camera-normal {
	width: 20px;
	height: 18px;
	background-position: -100px -21px;
}
.icon-camera-gray {
	width: 20px;
	height: 18px;
	background-position: -100px -41px;
}
.icon-district {
	width: 18px;
	height: 18px;
	background-position: -1px -41px;
}
.icon-search {
	width: 26px;
	height: 26px;
	background-position: 0 -80px;
}
.icon-search:hover {
	width: 26px;
	height: 26px;
	background-position: 0 -106px;
}
.icon-filter {
	width: 26px;
	height: 26px;
	background-position: -26px -80px;
}
.icon-filter:hover {
	width: 26px;
	height: 26px;
	background-position: -26px -106px;
}
.icon-refresh {
	width: 26px;
	height: 26px;
	background-position: -52px -80px;
}
.icon-refresh:hover {
	width: 26px;
	height: 26px;
	background-position: -52px -106px;
}
.icon-down {
	width: 20px;
	height: 20px;
	background-position: -20px -60px;
}
.icon-update {
	width: 20px;
	height: 20px;
	background-position: -40px -60px;
}
.icon-locate-normal {
	width: 16px;
	height: 20px;
	background-position: -62px -60px;
}
.icon-locate-gray {
	width: 16px;
	height: 20px;
	background-position: -82px -60px;
}



/**
 * layout
 * The overall layout of the page, you can change here, including the loading page, login page and scheduling system page.
 */
.container {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: #001c2f;
	font: normal 14px/1.5 "microsoft yahei";
}
.header {
	position: absolute;
	height: 48px;
	left: 70px;
	top: 0;
	right: 0;
	padding-left:12px;
	padding-right:15px;
	background: -moz-linear-gradient(0deg, #00243d, #005591);
  background: -webkit-gradient(linear,0 50%,100% 50%,from(#00243d),to(#005591));
  background: -webkit-linear-gradient(0deg, #00243d, #005591);
  background: -o-linear-gradient(0deg, #00243d, #005591);
  line-height: 48px;
  color: #fff;
}
.menu-wrap {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 60px;
	background-color: #005591;
}

/* header */
.title {
	font-size: 16px;
	font-family: "microsoft yahei";
	font-weight: normal
}
.user-info {
	position: absolute;
	top: 0;
	right: 15px;
}
.user-info .icon { margin-right: 5px;}
.login-time,
.login-user {
	display: inline-block;
	padding: 0 5px;
}
.login-out { color:#fff;}

/* left menu */
.logo {
	display: inline-block;
	width: 70px;
	height: 0px;
	margin-bottom:2px;
	background: #00243d url(../images/logo.png) no-repeat 0 0;
	padding-top: 60px;
	overflow: hidden;
}
.menu-tab {margin-top: 14px;}
.menu-tab li {height: 60px;}
.menu-tab a {
	display: inline-block;
	width: 60px;
	height: 0px;
	padding-top: 60px;
	overflow: hidden;
	background-image: url(../images/menu-tab.png);
	background-repeat: no-repeat;
}
.menu-tab a.menu-map { background-position: 0 0;}
.menu-tab a.menu-monitor { background-position: 0 -60px;}
.menu-tab a.menu-history { background-position: 0 -120px;}
.menu-tab a.menu-setting { background-position: 0 -180px;}
.menu-tab a:hover.menu-map,
.menu-tab li.selected a.menu-map { background-position: -60px 0;}
.menu-tab a:hover.menu-monitor { background-position: -60px -60px;}
.menu-tab a:hover.menu-history { background-position: -60px -120px;}
.menu-tab a:hover.menu-setting { background-position: -60px -180px;}

/* stystems status */
.stystems-status {
	position: absolute;
	bottom: 20px;
	font-size: 12px;
}
.stystems-status .status {
	display: block;
	margin-bottom: 3px;
	padding-left: 23px;
	color: #fff;
}
.stystems-status .status .icon {
 margin-left:-18px;
 margin-right:2px;
}

/* menu panel */
.menu-panel {
	position: absolute;
	left: 70px;
	top: 48px;
	bottom: 0;
	width: 300px;
	background-color: #e7eaec;
	border-right: 1px solid #95a0a7;
	-webkit-box-shadow:1px 0 2px #95a0a7;
	box-shadow:1px 0 2px #95a0a7;
}
.panel-header {
	padding-left: 10px;
	color: #005591;
	font: normal 16px/45px "microsoft yahei";
}
.tools-entry {
	float: right;
}
.tools-entry a {
	float: left;
	display: inline-block;
	width: 26px;
	height: 0;
	padding-top: 45px;
	margin-right: 4px;
	overflow: hidden;
}
.tools-entry .icon { margin-top: -90px;}

.tab-header { margin-bottom: 15px;}
.tab-header li {
	float: left;
	display: inline-block;
	width: 100px;
	height: 44px;
}
.tab-header li a{
	display: block;
	height: 0;
	padding-top: 44px;
	overflow: hidden;
	background-image: url(../images/tree-tab.png);
	background-repeat: no-repeat;
}
.tab-header li a.tree{ background-position: 0 0;}
.tab-header li.active a.tree,
.tab-header li a:hover.tree{ background-position: 0 -44px;}
.tab-header li a.task{ background-position: -100px 0;}
.tab-header li a.task:hover{ background-position: -100px -44px;}
.tab-header li a.message{ background-position: -200px 0;}
.tab-header li a.message:hover{ background-position: -200px -44px;}

.tab-panel { padding-left: 15px;}
.tab-panel .icon {
	margin-right: 5px;
}
.tab-panel a { color: #4b4c4d;}
.tab-panel a:hover { text-decoration: none;}
.team li { 
	height: 32px;
	line-height: 32px;
}
.district,
.group {margin-left: 15px;}
.group li {
	height: 32px;
}
.group li:hover {
	background-color: #6cf;
}

/**
 * login pageStyle
 */
.login-wrapper {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	margin-top: -175px;
	margin-left: -112px;
	width: 225px;
	min-height: 350px;
}
.login-form {margin-top: 195px;}
.form-line {margin-bottom: 18px;}
.form-text {
	width: 100%;
	height:  27px;
	line-height: 27px;
	padding: 0 12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing   : border-box;
	box-sizing        : border-box;
}

