@charset "utf-8";
html,body,nav,ul,li,h2,h3,figure,h1,p{padding:0px;margin:0px;}
body{min-width:320px;font:normal 14px/1.5 Tahoma,"Lucida Grande",Verdana,"Microsoft Yahei",STXihei,hei;color:#000;background:#fff;overflow-x:hidden;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-text-size-adjust:none;-moz-user-select:none;}
img{border:none}
a{color:#000;text-decoration:none;}
h2 a:link,h2 a:visited,h3 a:link,h3 a:visited{color:#fff;}
li{list-style-type:none;}

body{
	max-width: 540px;
	margin:0 auto;
	background: #f2f2f2;
}

/*top app promotion placeholder*/
.promotion-app{position: relative;max-height: 56px;overflow: hidden;background: #fff;}

/*top imagelist placeholder*/
header.jsmodule{position:relative;width:100%;min-height:64px;overflow:hidden;padding-top: 45px;background:#f2f2f2;-webkit-transform: translateZ(0);transform: translateZ(0);}

/* new nav */
.tool-cn a:before,
.icon-new,
.search-index:before,
.search-index div:before,
.notice-myctrip:before,
.search-index div span:after {background:url(../img/un_ico_home_v66.png) no-repeat 0 0;background-size:104px 326px;}

/*top search*/
.search-index{position: fixed;top: 0;left: 50%;z-index:12;width: 100%;height:3.21em;padding:7px 3.57em 7px 8px;background-color:#F6F6F6;border-bottom: 1px solid #CCCCCC;border-top: 1px solid #CCCCCC;-webkit-box-sizing:border-box;box-sizing:border-box;min-width:320px;max-width:540px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
/*.search-index:before{position:absolute;content:'';top:50%;left:14px;display: inline-block;width: 20px;height: 25px;background-position:-70px -226px;-webkit-transform:translateY(-50%);transform:translateY(-50%);}*/
.search-index div{height:2em;overflow: hidden;padding: 0 5px;line-height:2em; border-radius:5px;background-color:#fff;color:#666666;font-size:0.86em;border: 1px solid #999999;box-shadow: 0 2px 4px rgba(0,0,0,.2);}
.search-index div:active{background-color:#F9F9F9;}
.search-index div span {position: relative;padding-left: 20px;}
.search-index div span:after {position: absolute;top: -2px;left: 2px;width: 15px;height: 18px;overflow: hidden;background-position:-59px -276px;content: "";}
.search-index .notice-myctrip{ width: 44px; height: 44px; position: absolute; top: 0; right: 4px;}
.search-index .notice-myctrip:before { content:"\0020";position:absolute;top:4px;left:50%; margin-left:-10px; width:24px; height:26px; background-position:-59px -193px;}
.search-index .notice-myctrip i{ position: absolute; left: 50%; top: 10px; margin-left: 8px; width: 8px; height: 8px; background-color: #F45030; border-radius: 50%;}
.search-index .notice-myctrip span {position: absolute;bottom: 1px;left: 0;width: 100%;text-align: center;font-size: 0.86em;color: #2EAAE0;white-space: nowrap;}


/* Using flexbox for the nav-entry */
.row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.col {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: block;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.col-25 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 25%;
	-moz-box-flex: 0;
	-moz-flex: 0 0 25%;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
}
.col-33, .col-34 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 33.3333%;
	-moz-box-flex: 0;
	-moz-flex: 0 0 33.3333%;
	-ms-flex: 0 0 33.3333%;
	flex: 0 0 33.3333%;
	max-width: 33.3333%;
}
.col-50 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 50%;
	-moz-box-flex: 0;
	-moz-flex: 0 0 50%;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}


.nav-entry{
	padding: 4px;
	font-size: 15px;
	background: #fff;
	margin-bottom: 4px;
}
.nav-entry .row{
	margin-bottom: 4px;
	height: 6em;
}
.nav-entry .row:last-of-type{
	margin-bottom: 0;
}
.nav-entry .col{
	border-left: 1px solid #fff;
	/*border-bottom: 1px solid #fff;*/
	height: 100%;
}
.nav-entry .col a{height: 50%;}
.nav-entry .col:nth-child(1){border-left: none;}
.nav-entry .row:nth-child(1) .col a{background-color: #ff697a;}
.nav-entry .row:nth-child(2) .col a{background-color: #3d98ff;}
.nav-entry .row:nth-child(3) .col a{background-color: #44c522;}
.nav-entry .row:nth-child(4) .col a{background-color: #fc9720;}

.nav-entry .row:nth-child(1) .col:first-of-type a,
.nav-entry .row:nth-child(2) .col:first-of-type a,
.nav-entry .row:nth-child(3) .col:first-of-type a{
	height:100%;
}

.nav-entry .col a+a{border-top: 1px solid #fff;}

.nav-entry .col:first-of-type a{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.nav-entry .col:last-of-type a:nth-child(1){
	border-top-right-radius: 5px;
}
.nav-entry .col:last-of-type a:nth-child(2){
	border-bottom-right-radius: 5px;
}
.nav-entry .row:nth-child(4) .col:first-of-type a:nth-child(1){
	border-bottom-left-radius: 0;
}
.nav-entry .row:nth-child(4) .col:first-of-type a:nth-child(2){
	border-top-left-radius: 0;
}
.nav-entry .col>a{
	position: relative;
	display: block;
	font-size: 1em;
	color: #fff;
	text-shadow: 0 2px 1px rgba(0,0,0,.2);
	text-align: center;
	line-height: 3em;
	box-sizing:border-box;
	overflow: hidden;
}
.nav-entry .col>a em{
	font-style: normal;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	white-space: nowrap;
	width: 100%;
}
.nav-entry .row:nth-child(1) .col:first-of-type a:after,
.nav-entry .row:nth-child(2) .col:first-of-type a:after,
.nav-entry .row:nth-child(3) .col:first-of-type a:after,
.nav-entry  .wallet,
.nav-entry  .ico_shadow {
	position: absolute;
	bottom: 10px;
	left: 50%;
	content: "";
	background: url(../img/un_ico_home_v66.png) 0 0 no-repeat;
	-webkit-background-size: 104px 326px;
	background-size: 104px 326px
}
.nav-entry li .ico_shadow {
	bottom: -12px;
	left: 0;
	width: 104px;
	height: 82px;
	background-position: 0 -30px
}
.nav-entry  .row:nth-child(1)  .col:first-of-type a:after {
	width: 40px;
	height: 33px;
	margin-left: -20px;
	background-position: 0 -130px
}
.nav-entry  .row:nth-child(2)  .col:first-of-type a:after {
	bottom: 15px;
	width: 43px;
	height: 28px;
	margin-left: -23px;
	background-position: -50px -120px
}
.nav-entry  .row:nth-child(3)  .col:first-of-type a:after {
	width: 35px;
	height: 43px;
	margin-left: -18px;
	background-position: 0 -180px
}
.nav-entry  .wallet {
	bottom: 0;
	left: 0;
	width: 104px;
	height: 16px;
	text-align: center;
	line-height: 1.2;
	font-style: normal;
	font-size: 9px;
	color: #FF5F08;
	z-index: 3;
	background: url(../img/tag_summer.png) 0 0 no-repeat;
	-webkit-background-size: 104px 17px;
	background-size: 104px 17px
}

/*nav cliek style*/
.click-scale{-webkit-transform:scale(0.95);-ms-transform:scale(0.95);transform:scale(0.95);-webkit-transition:all 0.2s ease-in;-ms-transition:all 0.2s ease-in;transition:all 0.2s ease-in;}

/*footer*/
.tool-box{padding-bottom:5px;border-top:1px solid #CCCCCC;text-align:center;}
.tool-box.foot55{padding-bottom:55px;}
.tool-cn{margin-bottom:5px;height:3.57em;background-color:#fff;border-bottom:1px solid #c2c2c2;text-align:center;overflow:hidden;}
.tool-cn a{position:relative;float:left;padding-top:26px;color:#333;font-size:12px;}
.tool-cn a.link-tel{width:38%;}
.tool-cn a.link-down{width:31.999%;}
.tool-cn a.link-mc{width:30%;}
.tool-cn a.link-fb {width:30%;}
.tool-cn a.link-my {width:30%;text-indent: 4px;}
.tool-cn a:before{content:"\0020";position:absolute;top:7px;left:50%;margin-left:-8px;width:16px;height:17px;}
.tool-cn .link-tel:before{background-position:-60px -153px;}
.tool-cn .link-down:before{background-position:-60px -173px;}
.tool-cn .link-mc:before{background-position:-60px -195px;}
.tool-cn .link-fb:before{background-position:-60px -259px;}
.tool-cn .link-my:before{width: 18px;height: 19px;background-position:-60px -308px;}
.tool-cn .link-mc i{position:absolute;left:50%;top:6px;margin-left:8px;width:8px;height:8px;background-color:#f45030;border-radius:50%;}
.tool-ver { color: #999;}
.tool-ver a{padding:0 0;text-align:center;color:#666;font-size:12px;}
.tool-box p{margin:0;padding:5px 0;color:#999;font-size:12px;}

/*bottom app*/
.pb85{padding-bottom:85px!important;}
.app-text:before,.icon-btn:before,.app-pop-btn02 i{background-image:url(../img/un_bt_app.png);background-repeat:no-repeat;background-size:35px 50px;}
.app-fix-bottom{display:table;position:fixed;bottom:0;left:0;width:100%;height:50px;background:rgba(0,0,0,0.7);z-index:999;}
.app-close{display:table-cell;width:44px;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAAJFBMVEX////7+/v9/f38/Pz///////8AAAD7+/v9/f38/Pz5+fn///8Qx3UMAAAAB3RSTlMGrqerA1QAkV5UdwAAAINJREFUeNpt0DsOxDAMA1H6JzvR/e+7cCEQgyzbV3EUs6/4s9VnaLZ8rbY329TILKVlDq3HSnuWAgoLBRR20Uq7aKUVWm2FVpvRWma07l1mtJYVWs+1YwPuixuI72wl2DlQsZlrGP0dKhpVNKpoVNGosn1Vtq+qw6BdajZqk0KjjDoUP38iFa1PkZEuAAAAAElFTkSuQmCC) center center no-repeat;background-size:14px 14px;}
.app-text{display:table-cell;box-sizing:border-box;position:relative;min-width:130px;text-indent:37px;vertical-align:middle;}
.app-text:before{position:absolute;top:9px;left:0;content:"";width:32px;height:32px;background-position:0 0;}
.app-text p{margin:0;color:#fff;line-height:1;font-family:"Hei";}
.app-text .app-text-title{font-size:13px;}
.app-text .app-text-cn{margin-top:6px;font-size:12px;color:rgba(255,255,255,0.6);}
.app-btn-box{display:table-cell;min-width:134px;padding-right:15px;box-sizing:border-box;vertical-align:middle;text-align:right;}
.app-btn-box a{display:inline-block;width:46%;height:32px;line-height:32px;border-radius:5px;font-size:13px;text-align:center;}
.app-btn01{background-color:#2d8de9;color:#fff;}
.app-btn02{background-color:#fff;color:#099fde;}
.app-btn-box a:first-child{margin-right:10px;}
.app-btn-box a:only-child{width:100%;margin-right:0;}
.app-btn-box a.app-btn01:only-child{font-size:18px;}
.app-btn-box .icon-btn{text-align:center;font-size:13px;}
.app-btn-box .icon-btn:before{content:"";display:inline-block;width:14px;height:13px;vertical-align:-2px;}
.app-btn-box .app-btn01.icon-btn:before{margin-right:2px;background-position:0 -35px;}
.app-btn-box .app-btn02.icon-btn:before{margin-right:5px;background-position:-18px -36px;}
.app-close+.app-btn-box a{width:48%;}
.app-text2{text-align:center;text-indent:0;}
.app-text2:before{position:static;display:inline-block;margin-left:-15%;vertical-align:middle;}
.app-text2 p{display:inline-block;}
/*app popup*/
.app-pop{position:absolute;top:50%;left:50%;z-index:1000;width:280px;background-color:#fff;border-radius:3px;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
.app-pop-box{margin:0 15px;}
.app-pop-close{position:absolute;top:0;right:0;width:44px;height:44px;}
.app-pop-close:before,
.app-pop-close:after{content:"";position:absolute;top:21px;left:11px;width:20px;height:2px;background:#999;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);}
.app-pop-close:after{-webkit-transform:rotate(135deg);-ms-transform:rotate(135deg);transform:rotate(135deg);}
.app-pop-bd{padding-top:45px;}
.app-pop-img{margin-bottom:15px;width:100%;height:125px;overflow:hidden;}
.app-pop-img img{width:100%;height:100%;}
.app-pop-btn01{width:100%;height:44px;background-color:#ff9a14;border:0 none;border-radius:3px;font-size:18px;color:#fff;text-align:center;}
.app-pop-btn02{width:100%;height:50px;background-color:#fff;border:0 none;border-radius:3px;color:#099fde;font-size:14px;}
.app-pop-btn02 i{display:inline-block;margin-right:5px;width:20px;height:20px;border:1px solid #099fde;border-radius:50%;background-position:-14px -33px;vertical-align:-6px;}
.app-pop-btn .app-pop-btn01:only-child{margin-bottom:15px;}

/* 通告提示 */
.system_notice { position: relative; height: 27px; overflow: hidden; padding: 0 43px 0 30px; font-size: 12px; line-height: 26px; color: #FF7D13; background-color: #FFF8BD; }
.system_notice:before { position: absolute; top: 6px; left: 10px; width: 14px; height: 14px; overflow: hidden; line-height: 20em; content: ""; background: url(../img/icon_notice.png) 0 0 no-repeat; background-size: 14px; }
.system_notice p.more { width: 100%; overflow: hidden; white-space: nowrap; }
.system_notice p:after { position: absolute; top: 10px; right: 32px; width: 7px; height: 7px; border-color: #FF7D13; border-style: solid; border-width: 0 0 1px 1px; content: ""; -webkit-transform: rotate(-135deg); -moz-transform: rotate(-135deg); -ms-transform: rotate(-135deg); -o-transform: rotate(-135deg); transform: rotate(-135deg); }
.system_notice .icon_close { position: absolute; top: 6px; right: 10px; width: 15px; height: 15px; overflow: hidden; background: rgba(0, 0, 0, .3); border-radius: 50%; }
.system_notice .icon_close:after, .system_notice .icon_close:before { position: absolute; top: 3px; left: 7px; width: 1px; height: 8px; overflow: hidden; content: ""; background-color: #FFF8BD; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
.system_notice .icon_close:after { -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }

/* 浮层通告 */
.mask-layer{position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 3001;background: rgba(0, 0, 0, 0.5);}
.cm-modal { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; position: fixed; top: 50%; left: 50%; overflow: hidden; width: 280px; margin-left: -140px; padding-top: 0; border: 1px solid #DBDBDB; background-color: #FFF; border-radius: 4px; z-index: 985; }
.cm-modal.cm-modal--alert{top:160px; z-index:3002;}
.cm-modal .cm-modal-bd { position: relative; overflow-y: auto; -webkit-overflow-scrolling: touch; overflow-scrolling: touch; padding: 20px 10px; text-align: center; }
.cm-actions { display: table; table-layout: fixed; width: 100%; }
.cm-actions .cm-actions-btn { display: table-cell; color: #099FDE; height: 44px; line-height: 44px; text-align: center; border-top: 1px solid #DBDBDB; border-left: 1px solid rgba(0, 0, 0, 0.1); cursor: pointer; box-sizing: border-box; }
.cm-actions .cm-actions-btn:active { background: #E6E6E6; }
.cm-actions .cm-actions-btn:first-child { border-left: 0 none; }

.connect a{padding:0 18px;}
a.phone{color:#0E68D5;}
.versions a{height:12px;line-height:12px;padding:0 18px;border-right:1px solid #000;}
.connect a:last-child,.versions a:last-child{border-right:none;}

.connect a:visited,.connect a:hover,.connect a:active,.versions a:visited,.versions a:hover,.versions a:active{color:#000;}
.connect a.phone:visited,.connect a.phone:hover,.connect a.phone:active{color:#000;}
.cui-alert-title{text-align:center;height:3em;line-height:3em;background:#1491c5;color:#fff;}
.cui-alert-content{margin:0px 20px;padding:25px 0px;font-weight:bold;line-height:150%;text-align:left;}
.cui-alert-button-box{text-align:center;padding-bottom:15px;}
.cui-alert-button{height:44px;line-height:44px;border:0px;background:#31A9E9;width:40%;color:#fff;font-weight:bold;font-size:18px;margin:0px 0.5em;display:inline-block;}
.cui-alert-button:hover{background:#005C9C;}
.cui-alert-button-small{font-size:16px;}
.ctrip-confirm{background:#1491c5;}
.cui-alert-tbg{background:#000;opacity:0.5;border-radius:4px;display:none;}
.cui-alert-conbox{margin:10px;background:#fff;position:relative;overflow:hidden;}
.goto_top{margin-top:0 !important;}
.computer{margin-left:-4px;}
.index_bnr{display:block;width:100%;}
.noimg{display:block;position:relative;}
.noimg img{display:block;position:relative;z-index:3;}
.noimg i{display:block;position:absolute;z-index:1;top:15px;left:50%;margin-left:-85px;margin-top:-10px;font-style:normal;}
.noimg1 i{margin-left:-100px;margin-top:0;}
#J-Touch{overflow:hidden;}
#J-Touch img,#J-Touch img{width:100%;}
#J-Touch a,#J-Touch img{display:block;}
.left{float:left;}
.imgFlashIco{position:absolute;left:0;bottom:0;z-index:9;width:100%;height:4px;overflow:hidden;}
.msgbox-ui{z-index:9999999;position:fixed !important;top:50%;left:50%;box-shadow:0 1px 1px -1px white;border:0;display:block;border-radius:.6em;background-color:#222;padding:15px;width:210px;opacity:.88;height:auto;margin-left:-120px;margin-top:-43px;}
.msgbox-ui h1{display:block;text-align:center;color:#fff;font-size:16px;}

.c_pop_hidding{-webkit-animation:hidding 0.8s linear forwards;animation:hidding 0.8s linear forwards;display:block;}
.c_pop_showing{-webkit-animation:showing 0.8s linear forwards;animation:showing 0.8s linear forwards;display:block;}
@-webkit-keyframes hidding{0%{opacity:1;}
	100%{opacity:0;}
}
@keyframes hidding{0%{opacity:1;}
	100%{opacity:0;}
}
@-webkit-keyframes showing{0%{opacity:0;}
	100%{opacity:1;}
}
@keyframes showing{0%{opacity:0;}
	100%{opacity:1;}
}

#can-fan-explain{display:none;}
.apply-fanxian{display:none;}
#return-can-fan-explain{display:none;}
.novip{display:none;}
html,body{height:100%;}
h2 a:link,h2 a:visited{color:#fff;}
h3 a:link,h3 a:visited{color:#fff;}
.connect a:visited,
.connect a:hover,
.connect a:active,
.versions a:visited,
.versions a:hover,
.versions a:active{color:#000;}
.connect a.phone:visited,
.connect a.phone:hover,
.connect a.phone:active{color:#000;}


/*
H5首页与APP同步
v6.15
2016/3/9
*/
.subNav-entry{padding:0;font-size:14px;}
.subNav-entry{margin-bottom: 8px;}
.subNav-entry .col a{position:relative;display: block;height: 28px;margin-right:1px;padding-top:40px;background: #fff;text-align: center;font-size:1em;}
.subNav-entry .col{margin-bottom:1px;}
.subNav-entry .row:last-of-type .col{margin-bottom: 0;}
.subNav-entry .row .col:last-of-type a{margin-right: 0;}
.subNav-entry .row:first-of-type .col:first-of-type a{border-top-left-radius:5px;}
.subNav-entry .row:first-of-type .col:last-of-type a{border-top-right-radius:5px;}
.subNav-entry .row:last-of-type .col:first-of-type a{border-bottom-left-radius:5px;}
.subNav-entry .row:last-of-type .col:last-of-type a{border-bottom-right-radius:5px;}

.subNav-entry .row a:before{position:absolute;top:11px;left:50%;content:'';display:inline-block;width:26px;height:25px;background:url('../img/un_ico_subnav.png') no-repeat;background-size:26px auto;-webkit-transform:translateX(-50%);transform:translateX(-50%);}
.subNav-entry .row:first-of-type .col:nth-of-type(1) a:before{background-position:0 0;}
.subNav-entry .row:first-of-type .col:nth-of-type(2) a:before{background-position:0 -30px;}
.subNav-entry .row:first-of-type .col:nth-of-type(3) a:before{background-position:0 -60px;}
.subNav-entry .row:first-of-type .col:nth-of-type(4) a:before{background-position:0 -90px;}
.subNav-entry .row:last-of-type .col:nth-of-type(1) a:before{background-position:0 -120px;}
.subNav-entry .row:last-of-type .col:nth-of-type(2) a:before{background-position:0 -150px;}
.subNav-entry .row:last-of-type .col:nth-of-type(3) a:before{background-position:0 -182px;}
.subNav-entry .row:last-of-type .col:nth-of-type(4) a:before{background-position:0 -210px;}
/*特卖汇*/
.sales-box{margin-bottom:8px;background:#fff;border:1px solid #dbdbdb;border-width:1px 0;}
.sales-box .sales-hd{padding:0 8px;background:#fff;height:44px;line-height:44px;overflow:hidden;}
.sales-box .sales-hd .title{padding-top:44px;height:0;overflow:hidden;}
.sales-box .sales-hd .title:after{content:'';display:inline-block;position:absolute;left:8px;top:50%;width:79px;height:15px;background:url(../img/un_home_text.png) no-repeat;background-size:79px auto;-webkit-transform: translateY(-50%);transform: translateY(-50%);}
.sales-box .sales-hd .title-tmh:after{background-position:0 0;height:14px;}
.sales-box .sales-hd .title-huodong:after{background-position:0 -19px;}
.sales-hd{position:relative;}
.sales-hd .button-gradient{position:absolute;right:8px;top:11px;display:inline-block;padding:0 18px 0 12px;height:20px;line-height:20px;color:#fff;border-radius:10px;font-size:12px;}
.sales-hd .button-gradient:after{content:'';position:absolute;top:6px;right:9px;width:7px;height:7px;border:2px solid #fff;border-width:0 2px 2px 0;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
.sales-tmh .sales-hd .button-gradient{background: linear-gradient(left,#ff4e63,#ff6cc9);background: -webkit-linear-gradient(left,#ff4e63,#ff6cc9);}
.sales-huodong .sales-hd .button-gradient{background: linear-gradient(left,#ff4e63,#ff6cc9);background: -webkit-linear-gradient(left,#ffa93a,#ffd35c);}
.sales-item{position:relative;}
/*秒杀产品*/
.sales-bd{padding:8px;padding-top:0;}
.seckill-item{margin-right:2px;margin-bottom:4px;
	background: #f9f9f9;
	min-height:175px;
}
.flag-hot{position:absolute;z-index:10;line-height:20px;padding:0 6px 0  8px;left:0;top:0;background-color:#fd3a51;color:#fff;font-size:12px;text-align:center;}
.flag-hot:after{position:absolute;content:'';top:0px;right:-8px;border-width:20px 8px;border-style:solid;border-color:#fd3a51 transparent transparent transparent;}
.sales-countdown{position:absolute;z-index:10;bottom:0;left:0;right:0;padding:0 5px;height:25px;line-height:25px;background:rgba(0,0,0,.6);color:#fff;text-align: center;font-size:12px;white-space: nowrap;text-align:right;}
.sales-text{
	float: left;padding-right: 5px;}
.sales-countdown span.time{
	display: inline-block;
	height: 16px;
	line-height:16px;
	border: 1px solid rgba(255,255,255,.5);
}
.sales-countdown span.sep{padding:0 2px;}
.sales-countdown .left-corner,
.sales-countdown .right-corner{position:absolute;width:6px;height:6px;overflow:hidden;top:0;}
.sales-countdown .left-corner{left:-6px;}
.sales-countdown .right-corner{right:-6px;}
.sales-countdown .left-corner:before,
.sales-countdown .right-corner:before{content:'';position:absolute;width:12px;height:12px;border:6px solid #fff;border-radius:50%;top:-6px;}
.sales-countdown .left-corner:before{right: -6px;}
.sales-countdown .right-corner:before{left: -6px;}
.sales-img{position:relative;overflow:hidden;}
.sales-img img {
	width: 100%;
	min-height:117px;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}
@media (max-width:320px) {
	.sales-img{height:100px;}
}
@media (min-width:321px) and (max-width:375px) {
	.sales-img{height:117px;}
}
@media (min-width:376px){
	.sales-img{height:117px;}
}
.sales-info{padding:0 8px;right:4px;color:#333;height: 22px;overflow: hidden;}
.sales-title{height:36px;text-overflow: -o-ellipsis-lastline;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;padding: 8px;}
.tag-sales{display:inline-block;padding:1px 6px;background:#fd3a51;color:#fff;border-radius:8px;font-size:12px;line-height:1;vertical-align: 1px;}
.sales-price{color:#ff495e;font-size:18px;line-height:1;font-weight:normal;}
.sales-info dfn{font:12px/1.5 arial;vertical-align:baseline;}
.sales-price i{vertical-align:baseline;font-style: normal;font-size:15px;}
/*促销主题入口*/
.sales-list{overflow:hidden;}
.sales-list li{position:relative;float:left;width:50%;box-sizing: border-box;-webkit-box-sizing: border-box;font-size:0;}
.sales-list li:first-of-type{padding-right:2px;}
.sales-list li:last-of-type{padding-left:2px;}
.sales-list li img{width:100%;}

/*特卖汇活动入口样式*/
.themeEntry-item{margin-left:2px;overflow: hidden;}
.themeEntry-item .sales-list{position:relative;width:100%;background:#f9f9f9;}
.themeEntry-item .row:nth-of-type(1) .sales-list:first-of-type{margin-bottom:4px;}
.themeEntry-item .sales-list .sales-item-title{margin:0;padding:8px;text-align:left;color:#444;font-size: 12px;}
.themeEntry-item .row:nth-of-type(2)  .sales-list .sales-item-title{text-align:center;}
.themeEntry-item .sales-list .sales-item-title dt{font-weight: bold;font-size:14px;letter-spacing: .06em;}
.themeEntry-item .sales-list .sales-item-title dd{margin:0;pading:0;}
.themeEntry-item .row:nth-of-type(1) .sales-list .sales-item-title dt{color:#fd3a51;}
.themeEntry-item .row:nth-of-type(2) .col:first-of-type .sales-list{margin-right:4px;}
.themeEntry-item .row:nth-of-type(2) .col:last-of-type .sales-list{margin-left:4px;}
.themeEntry-item .row:nth-of-type(2) .col:first-of-type .sales-list dt,
.themeEntry-item .row:nth-of-type(2) .col:first-of-type .sales-list .highlight{color:#6aabff;}
.themeEntry-item .row:nth-of-type(2) .col:last-of-type .sales-list dt,
.themeEntry-item .row:nth-of-type(2) .col:last-of-type .sales-list .highlight{color:#53ca72;}

.themeEntry-item img{position:absolute;bottom:0;right:4px;}
.themeEntry-item .row:nth-of-type(2) img{left:50%;bottom:8px;
-webkit-transform: translateX(-50%);
transform: translateX(-50%);
}

@media (max-width:320px) {
	.sales-tmh{height: 231px;}
	.sales-tmh .sales-bd{height:179px;}
	.sales-huodong .sales-bd,.sales-huodong .loadImg-layer-box{height:242px;}
	.sales-title{padding:4px;height:40px;}
	.seckill-item{height:175px;}
	.themeEntry-item dt,
	.themeEntry-item dd{white-space:nowrap;}
	.themeEntry-item .sales-list:first-of-type{height:75px;}
	.themeEntry-item .row:nth-of-type(2) .sales-list{height:96px;}
}
@media (min-width:321px) and (max-width:375px) {
	.sales-tmh{height: 261px;}
	.sales-tmh .sales-bd{height:209px;}
	.sales-huodong .sales-bd,.sales-huodong .loadImg-layer-box{height:282px;}
	.seckill-item{height:205px;}
	.themeEntry-item .sales-list:first-of-type{height:88px;}
	.themeEntry-item .row:nth-of-type(2) .sales-list{height:112px;}
}
@media (min-width:376px){
	.sales-tmh{height: 261px;}
	.sales-tmh .sales-bd{min-height:209px;}
	.sales-huodong .sales-bd,.sales-huodong .loadImg-layer-box{min-height:282px;}
	.seckill-item{height:205px;}
	.themeEntry-item .sales-list:first-of-type{height:88px;}
	.themeEntry-item .row:nth-of-type(2) .sales-list{height:112px;}
}
/*热门活动*/
.sales-huodong .sales-hd,
.sales-huodong .sales-list:first-of-type,
.sales-huodong .sales-list:first-of-type li:nth-of-type(2),
.sales-huodong .sales-list li:first-of-type p:first-of-type{border-bottom:1px solid #dbdbdb;}
.sales-huodong .sales-bd{padding:0;}
.sales-huodong .sales-list li:first-of-type{padding-right:0;}
.sales-huodong .sales-list li:last-of-type{padding-left:0;}
.sales-huodong .sales-list li:first-of-type{border-right:1px solid #dbdbdb;}

/*1像素边框处理*/
@media(-webkit-min-device-pixel-ratio:2) {

	.sales-box,
	.sales-huodong .sales-hd,
	.sales-huodong .sales-list:first-of-type,
	.sales-huodong .sales-list:first-of-type li:nth-of-type(2),
	.sales-huodong .sales-list li:nth-of-type(1),
	.sales-huodong .sales-list li:nth-of-type(2),
	.sales-huodong .sales-list li:nth-of-type(3),
	.tool-cn,
	.tool-box{
		border: none;
		background-size: 100% 1px;
		background-repeat: no-repeat;
	}
	.sales-box{
		padding-top: 1px;
		padding-bottom: 1px;
		background-position: left top,left bottom;
		background-image: -webkit-gradient(linear,center bottom,center top,from(transparent), to(#dbdbdb)),-webkit-gradient(linear,center top,center bottom,from(transparent), to(#dbdbdb));
		background-image: -webkit-linear-gradient(to top,transparent 50%,#dbdbdb 50%),-webkit-linear-gradient(to bottom,transparent 50%,#dbdbdb 50%);
		background-image: linear-gradient(to top,transparent 50%,#dbdbdb 50%),linear-gradient(to bottom,transparent 50%,#dbdbdb 50%);
	}

	.tool-box{
		padding-top: 1px;
		background-position: left top;
		background-image: -webkit-gradient(linear,center bottom,center top,from(transparent), to(#dbdbdb));
		background-image: -webkit-linear-gradient(to top,transparent 50%,#dbdbdb 50%);
		background-image: linear-gradient(to top,transparent 50%,#dbdbdb 50%);
	}
	.sales-huodong .sales-list li:nth-of-type(1){
		background-size:1px 100%;
		padding-right:1px;
		background-position: right top;
		background-image:-webkit-gradient(linear,left top,right top,from(transparent), to(#dbdbdb));
		background-image: -webkit-linear-gradient(to right,transparent 50%,#dbdbdb 50%);
		background-image: linear-gradient(to right,transparent 50%,#dbdbdb 50%);
	}
	.sales-huodong .sales-hd,
	.sales-huodong .sales-list:first-of-type,
	.sales-huodong .sales-list:first-of-type li:nth-of-type(2),
	.tool-cn{
		background-size:100% 1px;
		padding-bottom: 1px;
		background-position: left bottom;
		background-image: -webkit-gradient(linear,left top,left bottom,from(transparent), to(#dbdbdb));
		background-image: -webkit-linear-gradient(to bottom,transparent 50%,#dbdbdb 50%);
		background-image: linear-gradient(to bottom,transparent 50%,#dbdbdb 50%);
	}
	.sales-huodong .sales-list:first-of-type li:nth-of-type(2){
		padding-left:0;
	}
	.sales-huodong .sales-list:first-of-type li:nth-of-type(1){
		border-top:2px solid #fff;
	}
}

/*内容没有加载出来的loading样式*/
.loadImg-layer-box{
	position: relative;
	width:100%;height:auto;background: #e9e9e9 url(//pic.c-ctrip.com/platform/h5/home/dophin@2x.png) center bottom no-repeat;-webkit-background-size:100% auto;
	background-size:100% auto;
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	display:box;
	box-orient:horizontal;
	box-pack:center;
	box-align:center;
}
.loadImg-layer-box .i-loading-imgVal{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	width:19px;height:20px;display: inline-block;background:url(//pic.c-ctrip.com/platform/h5/home/un_icon_loading@2x.png) 0 -33px no-repeat;background-size: 19px auto;
	-webkit-animation:loading 1s linear 0s infinite;
	animation:loading 1s linear 0s infinite;
}
@-webkit-keyframes loading{
	0%{-webkit-transform:rotate(0);}
	100%{-webkit-transform:rotate(360deg);}
}
@keyframes loading{
	0%{transform:rotate(0);}
	100%{transform:rotate(360deg);}
}

.sales-box.show-animation{
	height: 0;
	margin: 0;
	padding:0;
	border: 0;
	overflow: hidden;
	-webkit-transition: all 1s ease 1s;
	-o-transition: all 1s ease 1s;
	transition: all 1s ease 1s;
}